<div class="card text-center">
  <img [src]="producto.thumbnail" class="card-img-top card-product-image" alt="product" />
  <div class="card-body">
      <h5 class="card-title">{{ producto.title }}</h5>
    <p class="card-text">{{ producto.condition }}</p>
    <h6 class="card-subtitle mb-2 text-muted">{{ producto.price | currency:'USD' }}</h6>
    <p class="card-text">
      <a [routerLink]="['/product-details']">{{ producto.id }}</a>
    </p>
    <button class="btn btn-primary mx-1">Comprar</button>
    <button class="btn btn-secondary" [routerLink]="['/detalle', producto.id]">Detalles</button>
  </div>
</div>

