<section
class="hero-section-catalogo mb-5"
style="background-image: url('../assets/hero.jpg')">>
<div class="container-hero">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8 text-center">
      <h2 class="hero-heading">Aprovecha nuestros descuentos</h2>
      <p class="hero-subheading">Catalodo exclusivo</p>
    </div>
  </div>
</div>
</section>
<div class="container row d-flex mx-auto">
  <div class="row d-flex justify-content-space-around mx-auto p-5">
    <div class="col-md-3">
      <app-card
        title="Card 1"
        text="This is a sample card"
        price="10"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 2"
        text="This is another sample card"
        price="20"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 3"
        text="This is a third sample card"
        price="30"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 4"
        text="This is a fourth sample card"
        price="40"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 1"
        text="This is a sample card"
        price="10"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 2"
        text="This is another sample card"
        price="20"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 3"
        text="This is a third sample card"
        price="30"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 4"
        text="This is a fourth sample card"
        price="40"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 1"
        text="This is a sample card"
        price="10"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 2"
        text="This is another sample card"
        price="20"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 3"
        text="This is a third sample card"
        price="30"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 4"
        text="This is a fourth sample card"
        price="40"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 1"
        text="This is a sample card"
        price="10"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 2"
        text="This is another sample card"
        price="20"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 3"
        text="This is a third sample card"
        price="30"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 4"
        text="This is a fourth sample card"
        price="40"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 1"
        text="This is a sample card"
        price="10"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 2"
        text="This is another sample card"
        price="20"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 3"
        text="This is a third sample card"
        price="30"
        detail = "detalle"
      ></app-card>
    </div>
    <div class="col-md-3">
      <app-card
        title="Card 4"
        text="This is a fourth sample card"
        price="40"
        detail = "detalle"
      ></app-card>
    </div>
  </div>
</div>
