.hero-section-home {
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}


@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .card-home{
    display: flex;
  flex-wrap: wrap;
    width: 100vh;
    justify-content: space-around
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1600px) {
}
