<section
  class="hero-section-home"
  style="background-image: url('../assets/hero.jpg')">
  <div class="container-hero">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="hero-heading">Texto del encabezado</h1>
        <p class="hero-subheading">Texto del subencabezado</p>
        <a href="#" class="btn btn-primary btn-lg">Botón</a>
      </div>
    </div>
  </div>
</section>
<!--Card home falta crear componente para esta seccion-->

<div class="container row d-flex mx-auto">
  <h2 class="text-center p-3 mt-5">Sobre Nosotros</h2>
  <div class="row d-flex justify-content-center mx-auto">
    <div class="col-sm-12 col-md-3 p-5">
      <div class="card">
        <img
          src="https://picsum.photos/200/300"
          class="card-img-top"
          alt="home-image"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 p-5">
      <div class="card">
        <img
          src="https://picsum.photos/200/300"
          class="card-img-top"
          alt="home-image"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 p-5">
      <div class="card">
        <img
          src="https://picsum.photos/200/300"
          class="card-img-top"
          alt="home-image"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Card home-->
<!--Card Products-->
<div class="container">
  <h2 class="text-center p-2 mt-5 mb-5">Productos</h2>
  <div class="row">
    <div class="col-md-3 mb-5" *ngFor="let producto of productos">
      <app-card [producto]="producto"></app-card>
    </div>
  </div>
</div>

<!--Card Products-->
