/* Estilos para pantallas grandes */
.container{
  height: 100vh;
}

@media screen and (min-width: 1200px) {
  .form-custom-login{
    width: 50%;
    margin: 0 auto;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-custom-login{
    width: 50%;
    margin: 0 auto;
    border: 1rem solid;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {

}
